*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 20px;
    background-color: rgb(78, 77, 77);
    position: fixed;
    z-index: 1;
    right: 0;
    left: 0;
}

main{
    background-color: black;
    height: calc(100vh - 50px);
    overflow: auto;
    padding-top: 20px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.col100{
    height: 20px;
    background-color: red;
    border: 1px solid yellow;
}

.col50{
    width: 50%;
    background-color: red;
    border: 1px solid yellow;
    margin: 0 5px;
}

.col25{
    width: 25%;
    background-color: yellow;
    border: 1px solid red;
    height: 40px;
}

.col14{
    margin: 4px 2px;
    width: calc(100% / 7 - 4px);
    position: relative;
}

.col14 img{
    width: 100%;
}

.etichetta{
    position: absolute;
    bottom: 5px;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    color: white;
    font-size: 15px;
    padding: 0 5px;
}

.etichetta img{
    width: 15px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(99%) saturate(0%) hue-rotate(253deg) brightness(116%) contrast(100%);

}

footer{
    background-color: rgb(78, 77, 77);
    height: 50px;
    position: fixed;
    z-index: 1;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 5px;
}

.container-footer{
    width: 100%;
    margin: 0 auto;
    padding: 0 5px;
}

.items-footer{
    padding-top: 8px;
}



/* CLASSI DI UTILITY */
.d-flex{
    display: flex;
}

.jc-center{
    justify-content: center;
}

.jc-right{
    justify-content: right;
}

.jc-space-between {
    justify-content: space-between;
}

.ai-center{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

.txt-a-center{
    text-align: center;
}

.txt-a-right{
    text-align: right;
}